<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <center>

            <form action="/search?">
                <label> Search our Movie & TV Show Database</label>
                <input type="hidden" name="email" value="<%=email%>" />
                <input type="text" name="title" id="search"/> <button>Search</button>
            </form>
            <hr>
            <table>
                <tr>
                    <th>
                        Result name
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
        <% let i = 0 %>
        <% response.forEach((result) => { %>
		    
			<% result = decodeURIComponent(result) %>    
		    	<tr id="results">
                                <td>
                                    <a id="link-<%=i%>" href="http://<%= result %>"> <%= result %> </a>
                                </td>
                                <td>
                                    <button id="button-<%=i%>" onClick="validateLink(`<%=i%>`)"> Report Not Working</button>
                                </td>
                            </tr>
                    <% i = i + 1%>
                    <% }) %>
            </table>
        </center>
    </body>
 


    <script>
        async function validateLink(i) {
            const link = document.querySelector(`#link-${i}`).href

            console.log(await fetch(`/checkTitle?link=${link}`))

        }

    </script>
</html>
